<h1>Sign Up</h1>

<% if current_user %>
	<p>You've already signed up and logged in.</p>
	<p>Now, get going on <%= link_to "some lessons", lessons_path %> or <%= link_to "log out", logout_path %> to end your session.</p>
<% else %>
	<%= form_for @user do |f| %>
	  <% if @user.errors.any? %>
	    <div class="error_messages">
	      <h2>Form is invalid</h2>
	      <ul>
	        <% for message in @user.errors.full_messages %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <div class="field">
	    <%= f.label :email %>
	    <%= f.text_field :email, :placeholder => "joey@ramones.com" %>
	  </div>
	  <div class="field">
	    <%= f.label :password %>
	    <%= f.password_field :password, :placeholder => "rockawaybeach77" %>
	  </div>
	  <div class="actions"><%= f.submit %></div>
	<% end %>
<% end %>