<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

	<fieldset>
		<legend>Featured Photo</legend>
		<div class="field">
			<%= f.file_field :featured_photo %>
		</div>				
	</fieldset>

  <div class="field">
    <%= f.label :level %><br />
		<%= f.select :level, [["Beginner", "Beginner"], ["Intermediate", "Intermediate"], ["Advanced", "Advanced"]], prompt: "Select a level" %> 
  </div>
  <div class="field">
    <%= f.label :genre %><br />
		<%= f.select :genre, [["Blues", "Blues"], ["Bluegrass", "Bluegrass"], ["Country", "Country"], ["Metal", "Metal"], ["Pop", "Pop"], ["Psychedelic", "Psychedelic"], ["Rock and Roll", "Rock and Roll"]], prompt: "Select a genre" %> 

  </div>
  <div class="field">
    <%= f.label :topic %><br />
    <%= f.select :topic, [["Fundamentals", "Fundamentals"], ["Gear", "Gear"]], prompt: "Select a topic" %> 
  </div>
  <div class="field">
    <%= f.label :article %><br />
    <%= f.text_area :article %>
  </div>
  <div class="field">
    <%= f.label :video %><br />
    <%= f.text_field :video %>
  </div>
  <div class="field">
    <%= f.label :resources %><br />
    <%= f.text_area :resources %>
  </div>

  <div class="field">
    <%= f.label :visibility %><br />
		<%= f.select :visibility, [["Draft", "Draft"], ["Published", "Published"]] %> 
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
