<% provide(:title, 'Photos') %>

<h1>Photos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.name %></td>

				<% if can? :update, @photo %>
        	<td><%= link_to 'Show', photo %></td>
        	<td><%= link_to 'Edit', edit_photo_path(photo) %></td>
				<% end %>
				
				<% if can? :destroy, @photo %>
        	<td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     		<% end %>
 			</tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, @photo %>
	<%= link_to 'New Photo', new_photo_path %>
<% end %>
