<% provide(:title, 'Photos') %>

<section class="upload-photo">
	<div class="row">
		<div class="span12">
			<% if can? :create, @photo %>		
				<%= render 'form' %>
			<% end %>
		</div>
	</div>
</section>

<section class="browse-photos">
	<div class="row">
		<div class="span12">
			<div class="row">
				<% if @photos.present? %>
				<% @photos.each do |photo| %>
					<div class="image-preview span4">
						<%= link_to image_tag(photo.image_url(:small).to_s), photo %>	
						<p>
							URL:
							<input value="<%= photo.image_url(:large) %>" class="select-all-on-click">
						</p>
						<p><%= photo.image_identifier %></p>					
						
						<% if can? :destroy, @photo %>
							<p>
								<%= link_to 'View', photo_path(photo) %> |
								<%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
							</p>
						<% end %>
					</div>
	    	<% end %>
				<% end %>
			</div>
		</div>
	</div>
</section>
