<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="<%= params[:action] %>" class="<%= params[:controller] %>">

<%= render "layouts/nav" %>
  
  <div class="container">
    <div class="row">
      <div class="span12">
	
				<%= render 'layouts/flash_messages' %>
				
        <%= yield %>

				<%= render 'layouts/footer' %>
      </div>
    </div>
  </div><!-- end container -->

	<%= render 'layouts/typekit' %>
</body>
</html>